

/*font*/

@font-face{
    font-family:'GenJyuuGothicL'; 
    
    src:url('./font/GenJyuuGothicL.eot');
    
    src:local('☺'),url('./font/GenJyuuGothicL.ttf')
    format('truetype'),url('./font/GenJyuuGothicL.svg#GenJyuuGothicL') format('svg');
    
    font-weight:bold;font-style:bold;
    
    }

.font{
    font-family: "GenJyuuGothicL";
}

/*color*/
.white{
    color: white;
}

.orange{
    color:  #FA5738;
}

.green{
    color: #0081B5;
}

.yellow{
    color: #FBC335;
}

.bg_yellow{
    background-color: #FBC335;
}

.bg_green{
    background-color: #0081B5;
}

.bg_black{
    background-color: black;
}

/*bg_col*/
.col-1{width: 8.3%;}
.col-bg-2{width: 16.6%;}
.col-bg-3{width: 25%;}
.col-4{width: 33.3%;}
.col-5{width: 41.6%;}
.col-bg-6{width: 50%;}
.col-bg-7{width: 58.3%;}
.col-bg-8{width: 66.6%;}
.col-9{width: 75%;}
.col-10{width: 83.3%;}
.col-11{width: 91.6%;}
.col-bg-12{width: 100%;}

.mylink{
    cursor: pointer;
}
/*html_setting*/
.container{
    margin-left: auto;
    margin-right: auto;
    margin-left: 80px;
    margin-right: 80px;
}

/*fixed*/
.top{
    position: fixed;
    right: 30px;
    bottom: 30px;
    padding: 25px 20px;
    border-radius: 40px;
    border: solid 1px #0081B5;
    transition-duration: 0.3s;
}

.top:hover{
    border: solid 1px #0081B5;
    background-color: white;
    color: #0081B5;
}

/*hot_zone*/
.hot_zone{
    display: flex;
    padding-top: 150px;
    margin-bottom: 70px;
    margin-left: 0;
}

/*sidebar*/
.side_bar{
    width: 350px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-right: 0px;
    line-height: 30px;
}

.hamyui{
    display: none;
    text-align: end;
}
.catogory_title{
    font-size: 12pt;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.catogory_subtitle{
    width: 170px;
    font-size: 10pt;
    letter-spacing: 2px;
    padding-top: 2px;
    padding-left: 30px;
    padding-bottom: 2px;
}

.sub{
    border-radius: 10px;
    transition-duration: 0.1s;
}

.sub:hover{
    background-color: #FA5738;
    color: white;
}

/*line*/
.line{
    margin-right: 50px;
    width: 1px;
    height: 620px;
}

/*main_area*/
.main_area{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.path{
    font-size: 8px;
    letter-spacing: 3px;
}

.title{
    font-size: 10px;
    letter-spacing: 5px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}


.row{
    display: flex;
}

.preview{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview_img{
    width: 80%;
    box-shadow: #666 0px 0px 5px;
}

/*main_area_preview_slide*/
.slide_container{
    position: relative;
}

.slide_container img{

    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-animation: round 20s linear infinite;
            animation: round 20s linear infinite;
}

.slide_container img:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.slide_container img:nth-child(2) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}

.slide_container img:nth-child(3) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
}

.slide_container img:nth-child(4) {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
}
@-webkit-keyframes round {
    2% {
      opacity: 1;
      filter: alpha(opacity=100);
      /* 0 - 1秒 滑入*/
    }
    20% {
      opacity: 1;
      filter: alpha(opacity=100);
      /* 1- 5秒靜止*/
    }
    26% {
      opacity: 1;
      filter: alpha(opacity=100);
      /* 5-6秒滑出*/
    }
    28% {
      opacity: 0;
      filter: alpha(opacity=0);
      /* 6-6.5秒變透明*/
    }
}
@keyframes round {
    2% {
      opacity: 1;
      filter: alpha(opacity=100);
      /* 0 - 1秒 滑入*/
    }
    20% {
      opacity: 1;
      filter: alpha(opacity=100);
      /* 1- 5秒靜止*/
    }
    26% {
      opacity: 1;
      filter: alpha(opacity=100);
      /* 5-6秒滑出*/
    }
    28% {
      opacity: 0;
      filter: alpha(opacity=0);
      /* 6-6.5秒變透明*/
    }
}

/*sub_area*/

.product{
    justify-content: center;
    padding-bottom: 30px;
}

.product_img{
    width: 60%;
    box-shadow: #666 0px 0px 5px;
}



/*md*/

@media(max-width:768px){
    /*html_setting*/
    .container{
        margin-left: auto;
        margin-right: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
    /*md_col*/
    .col-md-1{width: 8.3%;}
    .col-md-3{width: 25%;}
    .col-md-8{width: 66.6%;}

    /*hot_zone*/
    .hot_zone{
        display: flex;
        padding-top: 110px;
        margin-bottom: 70px;
    }
    /*side_bar*/
    .ham{
        display: none;
    }

    .side_bar{
        display: flex;
        padding-top: 25px;
        margin-left: 0;
        padding-left: 30px;
    }

    .catogory_title{
        font-size: 10px;
    }

    .catogory_subtitle{
        width: 150px;
        height: 30px;
        font-size: 8px;
        padding-left: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    /*line*/
    .line{
        width: 1px;
        height: 540px;
    }

    /*main_area*/
    .main_area{
        padding-top: 25px;
    }

    .title{
        font-size: 8px;
        padding-top: 40px;
        padding-bottom: 50px;
    }

    .preview_img{
        width: 100%;
    }

    /*sub_area*/
    .product_img{
        width: 90%;
    }
    

}

/*sm*/
@media(max-width:480px){
    /*html_setting*/
    .container{
        margin-left: auto;
        margin-right: auto;
        margin-left: 5px;
        margin-right: 5px;
    }

    /*sm_col*/
    .col-sm-10{width: 83.3%;}
    .col-sm-12{width: 100%;}
    
    /*hot_zone*/
    .hot_zone{
        margin-bottom: 280px;
        flex-direction: column;
        align-items: center;
    }

    /*side_bar*/
    .hamyui{
        display: block;
        height: 30px;
        font-size: 10px;
        letter-spacing: 1px;
    }

    .side_bar{
        display: none;
        position:absolute;
        z-index: 2;
    }
    
    .side_bar_click{
        border-radius: 20px 0px 0px 20px;
        position: absolute;
        right: 0;
        top: 130px;
        width: 200px;
        padding-bottom: 20px;
        background: #FA5738;
        display: block;
        position:absolute;
        z-index: 2;
    }

    .catogory_title{
        font-size: 10px;
        letter-spacing: 8px;
    }

    .catogory_subtitle{
        padding-left: 30px;
    }

    .catogory_subtitle:hover{
        background-color: white;
        color: black;
    }

    /*line*/
    .line{
        width: 100%;
        height: 0.5px;
        margin-right: 0;
    }
    
    /*main_area*/
    .main_area{
        padding-top:25px;
    }
    .path{
    }
    .preview_img{
        width: 80%;
    }
    .title{
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 2pt;
        letter-spacing: 2px;
    }

    /*sub_area*/
    .product_img{
        width: 83.5%;
    }

}
